*.user
**/*.user
packages/
**/Service\ References/
TestResults/
_ReSharper.PropertyManager/
PropertyManager.v11.suo
*.suo
FoodManager.DTO/bin/
FoodManager.DTO/obj/
FoodManager.DataAccess/bin/
FoodManager.DataAccess/obj/
FoodManager.Infrastructure/bin/
FoodManager.Infrastructure/obj/
FoodManager.IoC/bin/
FoodManager.IoC/obj/
FoodManager.Mapper/bin/
FoodManager.Mapper/obj/
FoodManager.Migrations/bin/
FoodManager.Migrations/obj/
FoodManager.Model/bin/
FoodManager.Model/obj/
FoodManager.OrmLite/bin/
FoodManager.OrmLite/obj/
FoodManager.Queries/bin/
FoodManager.Queries/obj/
FoodManager.Services/bin/
FoodManager.Services/obj/
FoodManager/bin/
FoodManager/obj/
FoodManager.Client/bin/
FoodManager.Client/obj/
